---
import NavButtons from "../components/molecules/NavButtons/NavButtons.astro";
import Navbar from "../components/organisms/Navbar/Navbar.astro";
import "./layout.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <title>MOBAES</title> -->
    <slot name="head" />
  </head>
  <body>
    <Navbar />
    <NavButtons />
    <main><slot /></main>
  </body>
</html>
